<div class="row">
  <div class="col">
    <h1>商品一覧</h1>
  </div>
  <div class="col">
    <%= link_to "＋", new_admin_item_path %>
  </div>

    <table class="table table-striped">

    <%= @items.each do |item| %>
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th><%= item.id %></th>
          <th><%= item.name %></th>
          <th><%= item.price %></th>
          <th></th>
          <th></th>
        </tr>
      </tbody>
    </table>

    <% end %>

</div>