<h1>商品新規登録</h1>
<%= form_with model: @item, url: admin_items_path, local:true do |f| %>
  <table>
    <tr>
      <td>商品画像</td>
      <td><%= f.file_field :item_image %> </td>
    </tr>

    <tr>
      <td>商品名</td>
      <td><%= f.text_field :name %></td>
    </tr>

    <tr>
      <td>商品説明</td>
      <td><%= f.text_area :introduction %></td>
    </tr>

    <tr>
      <td>ジャンル</td>
      <td>
        <div class="field">
         <%= f.collection_select :genre_id, Genre.all, :id, :name, options = { include_blank: true, selected: "<idの値を動的に指定する>" } %>


        </div>
      </td>
    </tr>

    <tr>
      <td>税抜価格</td>
      <td><%= f.text_field :price %>円</td>
    </tr>

    <tr>
      <td>販売ステータス</td>
      <td></td>
    </tr>
  </table>

  <div>
    <%= f.submit "新規登録", class: "btn btn-sm btn-secondary" %>
  </div>

  <% end %>