<div class="container mx-auto">

  <div class="row-3">
    <div class="col-4 bg-secondary">
      <h4>商品新規登録</h4>
    </div>
  </div>

    <%= form_with model: @item, url: admin_items_path, local:true do |f| %>
    <div class="row">
      <div class="col"><p>商品画像</p></div>
      <div class="col"><%= f.file_field :item_image %></div>
    </div>

    <div class="row">
      <div class="col"><p>商品名</p></div>
      <div class="col"><%= f.text_field :name %></div>
    </div>

    <div class="row">
      <div class="col"><p>商品説明</p></div>
      <div class="col"><%= f.text_area :introduction %></div>
    </div>

    <div class="row">
      <div class="col"><p>ジャンル</p></div>
      <div class="col"><%= f.collection_select :genre_id, Genre.all, :id, :name, options = { include_blank: true, selected: "<idの値を動的に指定する>" } %></div>
    </div>

    <div class="row">
      <div class="col"><p>税抜価格</p></div>
      <div class="col"><%= f.text_field :price %></div>
    </div>

    <div class="row">
      <div class="col"><p>販売ステータス</p></div>
      <div class="col"><%= f.collection_radio_buttons :is_active, Item.is_actives_i18n, :first , :last %></div>
    </div>

      <div class="row align-items-center">
        <div class="col"></div>
        <div class="col">
        <%= f.submit "新規登録", class: "btn btn-sm btn-success" %>
        </div>
        <div class="col"></div>
      </div>

      <% end %>

</div>