<h1>商品詳細</h1>
<div class="container">
  <div class="row py-3">
    <h1>商品詳細</h1>

    <div class="col-md-3">画像</div>

    <div class="col-md-9">
      <table>

        <tr>
          <td>商品名</td>
          <td><%= @item.name %></td>
        </tr>

        <tr>
          <td>商品説明</td>
          <td><%= @item.introduction %></td>
        </tr>

        <tr>
          <td>ジャンル</td>
          <td><%= @item.genre.name %></td>
        </tr>

        <tr>
          <td>税込価格（税抜価格）</td>
          <td><%= @item.add_tax_price.to_s(:dalimited) %>（<%= @item.price %>）円</td>
        </tr>

        <tr>
          <td>販売ステータス</td>
          <td></td>
        </tr>
      </table>

    <div>
      <%= link_to "編集する", edit_admin_item_path(@item.id) %>
    </div>
    </div>
  </div>

</div>
