<div class="container mx-auto">

<div class="row-3">
<h2 class="col-4 bg-secondary">管理者ログイン</h2>
</div>



<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
      <div class="col text-right"><p>メールアドレス</p></div>
      <div class="col"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
  </div>

  <div class="row">
      <div class="col text-right"><p>パスワード</p></div>
      <div class="col"><%= f.password_field :password, autocomplete: "current-password" %></div>
  </div>

  <div class="row align-items-center">
    <div class="col"></div>
    <div class="col">
    <%= f.submit "ログイン", class: "btn btn-sm btn-primary" %>
    </div>
    <div class="col"></div>
  </div>
<% end %>

<%= render "admin/shared/links" %>

</div>