<h1>会員一覧</h1>

<table>

  <thead>
    <tr>
      <td>会員ID</td>
       <td>氏名</td>
        <td>メールアドレス</td>
         <td>ステータス</td>
    </tr>
  </thead>
<%= @customers.each do |customer| %>
  <tbody>
    <tr>
       <td><%= customer.id %></td>
       <td><%= link_to "customer.last_name", admin_customer_path(customer.id) %><%= link_to "customer.first_name", admin_customer_path(customer.id) %></td>
       <td><%= customer.email %></td>
       <td>ステータス</td>
    </tr>
  </tbody>
<% end %>
</table>
