<div class="container mx-auto py-3">
  <h4>配送先編集</h4>

<%= form_with model: @address, method: :patch, local:true do |f| %>
  <div class="row py-3">
    <p>郵便番号（ハイフンなし） <%= f.text_field :postal_code %></p>
    <p>住所 <%= f.text_field :address %></p>
    <p>宛名 <%= f.text_field :name %></p>
  </div>

  <div class="row text-right">
    <%= f.submit "変更内容を保存", class: "btn btn-sm btn-secondary" %>
  </div>
</div>