<div class="container mx-auto py-3">

  <div class="row">
<%= form_with model: @order, url: orders_ready_path, method: :post, local:true do |f| %>
    <h4>支払方法</h4>
    <li>
      <%= f.label :payment_method, @order.payment_methods_i18n[:credit_card] %>
      <%= f.radio_button :payment_method, @order.payment_methods.key(0) %>
      <%= f.hidden_field :payment_method, :value => @order %>
    </li>
    <li>
      <%= f.label :payment_method, @order.payment_methods_i18n[:transfer]%>
      <%= f.radio_button :payment_method, @order.payment_methods.key(1) %>
      <%= f.hidden_field :payment_method, :value => @order %>
    </li>
  </div>

  <div class="row">
    <h4>お届け先</h4>
    <li>
      <%= f.label :@order.postal_code, :@order.address, :@order.name, "ご自身の住所" %>
      <%= f.radio_button :@order.postal_code, :@order.address, :@order.name, "ご自身の住所" %>
      <%= f.hidden_field :@order.postal_code, :@order.address, :@order.name, :value => @order %>
    </li>

    <li>
      <%= f.label :@addresses, "登録済住所から選択" %>
      <%= f.radio_button :@addresses, "登録済住所から選択" %>
      <%= f.select :@addresses, options_from_collection_for_select(current_customer.address, :id, :address_display) %>
      <%= f.hidden_field :@addresses, :value => @order %>
    </li>
    <li>
      <%= f.label :@address, "新しいお届け先" %>
      <%= f.radio_button :@address, "新しいお届け先"
      <%= form_with model: @address, local:true do |f| %>
        <p>郵便番号（ハイフンなし） <%= f.text_field :postal_code %></p>
        <p>住所 <%= f.text_field :address %></p>
        <p>宛名 <%= f.text_field :name %></p>
        <%= f.hidden_field :address, :value => @order %>
      <%= f.submit "新規登録する", class: "btn btn-sm btn-secondary" %>
      <% end %>
    </li>
  </div>

  <div class="row">
    <%= f.submit "確認画面へ", class: "btn btn-sm btn-secondary" %>
  </div>
</div>