<div class="container-py-5">
  <div class="row">

    <div class="col-md-3">
      <nav class="navbar">
        <p>ジャンル検索</p>

      </nav>
    </div>

    <div class="col-md-４">
      画像
    </div>

    <div class="col-md-5">
      <div>商品名<%= @item.name %></div>

      <div>商品説明<%= @item.introduction %></div>
      <div>￥<%= @item.add_tax_price.to_s(:dalimited) %>（税込）</div>

        <div>

            <%= f.select :amount, *[1..10] %>
            <%= f.submit "カートに入れる", class: "btn btn-sm btn-secondary" %>

        </div>
    </div>
  </div>
</div>