<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row py-5">

          <div class="col-md-3 text-left">
            <h1>LOGO</h1>
          </div>

          <div>
            <div class="col-md-6 text-right">
              <div class="row">
                <ul><%= link_to "About", about_path %></ul>



                <ul><%= link_to "商品一覧(カスタマー)", items_path %></ul>

                <ul><%= link_to "商品一覧（アドミン）", admin_items_path %></ul>

                <ul><%= link_to "新規登録", new_customer_registration_path %></ul>

                <ul><%= link_to "ログイン（アドミン）", new_admin_session_path %></ul>

                <ul><%= link_to "ログアウト（アドミン）", destroy_admin_session_path, method: :delete %></ul>

                <ul><%= link_to "ログイン（カスタマー）", new_customer_session_path %></ul>

                <ul><%= link_to "ログアウト（カスタマー）", destroy_customer_session_path, method: :delete %></ul>


              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
